@import url('https://fonts.googleapis.com/css?family=Raleway:500');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Raleway', sans-serif;
  background-color: #FFFEF9;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100%;
  padding-top: 20px;
}

.golfin{
    color: #FFFEF9;
    font-size: 30px;
    position: absolute; 
    margin-left: 140px;
    top: 8%;
    font-weight: bold;
    transform: translateY(-50%);
}

.menuBox {
  margin-top: 90px;
  position: absolute;
  margin-right: 230px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 106px;
  height: 38px;
  padding: 8px 8px 8px 8px;
  background: #5A794D;
  color: #FFFFFF;
  border-color: #00000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  font-family: "Alata";
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
  text-align: center;
}

.menuBoxNotselected {
  margin-top: 90px;
  margin-right: -230px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 106px;
  height: 38px;
  padding: 8px 8px 8px 8px;
  background: #CBE8BA;
  color: #FFFFFF;
  border-color: #00000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  font-family: "Alata";
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
  text-align: center;
}

.menuBoxNotselected1 {
  margin-top: 90px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 106px;
  height: 38px;
  padding: 8px 8px 8px 8px;
  background: #CBE8BA;
  color: #FFFFFF;
  border-color: #00000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  font-family: "Alata";
  font-weight: bold;
  font-size: 17px;
  line-height: 1;
  text-align: center;
}

.caixa{
  background-image: url(Texture-Fabrik-Kraft-Recycled-Paper-Textures-1_08.webp\ 3.webp);
  width: 331px;
  height: 188px;
  border-radius: 5px 5px 5px 5px;
  margin-top: 140px;
  position: absolute;
}

.textoCaixa{
  position: absolute;
  display: flex;
  justify-content:right;
  align-items:end;
  right: 20px;
  top:6px;
  color: #FFFFFF;
  border-color: #00000000;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px 10px 10px 10px;
  font-family: "Alata";
  font-weight: bold;
  font-size: 24px;
  line-height: 1;
  text-align: left;
}

.rectangle-22 {
	width: 170px;
  height: 4px;
	background: #FFFFFFA3;
	border-color: #FFFFFF00;
	border-width: 1px;
	border-style: solid;
  position: absolute;
  display: flex;
  justify-content:right;
  align-items:end;
  right: 0px;
  top: 40px;
}

.imagem1 {
  position: absolute;
  display: flex;
  justify-content: left;
  align-items:flex-start;
  width: 171px;
  height: 188px;
}

.textinside1{
  position: absolute;
  display: flex;
  justify-content:left;
  align-items:flex-start;
  right: 35px;
  top:50px;
  color: #FFFFFF;
  font-family: "Alata";
  font-size: 17px;
  line-height: 1;
  text-align: right;
}

header {
  background-color: #5A794D;
  padding: 16px;
  width: 96%;
  max-width: 400px;
  border-radius: 12px;
}

.menu-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content:space-between;
  width: 100%;
}

.burger {
  width: 36px;
  cursor: pointer;
  transition: background-color 0.2s ease;
  border-radius: 6px;
  padding: 4px;
  margin-bottom: 8px;
}

.burger span {
  display: block;
  height: 4px;
  width: 100%;
  background-color: #FFFEF9;
  margin: 5px 0;
  margin-left: -5px;
  transition: width 0.3s ease-in-out;
}

.menu.open .burger span:nth-child(1) {
  transform: translateY(9px) rotate(45deg);
}
.menu.open .burger span:nth-child(2) {
  opacity: 0;
}
.menu.open .burger span:nth-child(3) {
  transform: translateY(-9px) rotate(-45deg);
}

.nav-links {
    display: none;
    flex-direction: column;
    background-color: #FFFEF9;
    border-radius: 8px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    width: 100%;
    height: 100%;
    padding: 8px 0;
    overflow: hidden;
    opacity: 0;
    transition: width 0.3s ease;
}

.nav-links.visible {
  transform: translateY(0);
  opacity: 1;
}

.nav-links li {
  padding: 12px 20px;
  font-size: 18px;
  text-transform: uppercase;
  border-left: 2px solid #A93434;
  transition: all 0.3s ease;
  cursor: pointer;
  opacity: 0;
  transform: translateY(-10px);
  display: flex;
  align-items: center;
}

.nav-links li.show {
  opacity: 1;
  transform: translateY(0);
}

.nav-links li:hover,
.nav-links li.active {
  color: #A93434;
  background-color: #f4f4f4;
}

.nav-links li i {
  margin-right: 10px;
  color: #5A794D;
  width: 20px;
}
